/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

/* BASE CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding:20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(15px);
    border-bottom: 2px solid white;
}

.body {
    color: black ;
}


/* Back-Icon Logo */

.back-icon{
    position: relative;
    font-size: 25px;
    right: 80px;
    bottom: 0px;
    cursor: pointer;
    display: flex;
}

.back-icon a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background: transparent ;
    border: 2px solid black;
    border-radius: 50%;
    font-size: 20px;
    color: black;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
}

.back-icon a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: black;
    z-index: -1;
    transition: .5s;
}

.back-icon a:hover{
    color: white;
}

.back-icon a:hover::before {
    width: 100%;
}

/* ==================== */

.logo {
    position: absolute;
    font-size: 25px;
    color: black;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
}

.navbar a {
    font-size: 18px;
    width: max-content;
    position: relative;
    color: black;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    justify-content: space-between;
    transition: .3s;
}

.navbar a:hover{
    color: gray;
}

.navbar a::before{
    content: '';
    position: absolute;
    bottom: -4px;
    height: 4px;
    width: 100%;
    background: black;
    border-radius: 40px;
    transform: scaleX(0);
    transition: transform 0.25s linear;
    z-index: -1;
}

.navbar a:hover::before{
    transform: scaleX(1);
}

/* body */

.home{
    padding: 70px 40px;
    display: flex;
}


/* Profile Picture */

.ava .avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 0 10px .5px;
    margin-right: 30px;
    margin-top: 20px;
    position: relative;
}

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.ava::after, .ava::before{
    content: '';
    --angle: 0deg;
    position: absolute;
    height: 210px;
    width: 210px;
    border-radius: 50%;
    background-image: conic-gradient(from var(--angle), transparent 70%, lightgray,darkgray, gray,  black);
    left: 34.7px;
    margin-top: 15.5px;
    z-index: -1;
    padding: 0x;
    animation: 3s spin linear infinite;
}

.ava::before {
    filter: blur(15px);
    opacity: .5;
}

@keyframes spin{
    0% {
        --angle: 0deg;
    }
    100% {
        --angle: 360deg;
    }
}

.home-content h3 {
    font-size: 22px;
    font-weight: 800;
}

.home-content h5{
    font-size: 15px;
    margin-bottom: 5px;
    margin-top: -10px;
    color: gray;
}

.home-content p {
    font-size: 11px;
    max-width: 450px;
    line-height: 11px;
}


/* After Line Text, etc */

.line {
    display: flex;
    position: relative;
    right: -5px;
    width: 1.5px;
    height: 330px;
    background-color: gray;
    margin-bottom: 10px;
}

.line-text{
    position: relative;
    max-width: 200px;
    right: -15px;
}

.line-text h3 {
    font-weight: 800;
}

.line-text h6{
    position: relative;
    top: -5px;
    color: gray;
}

.line-text p{
    font-size: 8px;
    position: relative;
    color: black;
}


/* Game Icon */

.game-icon{
    display: flex;
    position: relative;
    justify-content: flex-start;
    flex-direction: column;
    border: 2px solid transparent;
    left: -80px;
}

.game-icon p {
    font-size: 8px;
    position: relative;
    left: 5px;
}

.osu{
    position: relative;
    display: flex;
    top: 45px;
    height: 54px;
    width: 230px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: transparent;
}

.osu-icon{
    transition: .5s;
}

.osu a:hover{
    filter: invert(67%) sepia(39%) saturate(1542%) hue-rotate(293deg) brightness(103%) contrast(101%);
}

.valorant{
    position: relative;
    display: flex;
    top: 55px;
    height: 54px;
    width: 230px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: transparent;
}

.valorant-icon{
    transition: .5s;
}

.valorant a:hover{
    filter: invert(41%) sepia(59%) saturate(3418%) hue-rotate(324deg) brightness(100%) contrast(99%);
}

.roblox {
    position: relative;
    display: flex;
    top: 65px;
    height: 54px;
    width: 230px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: transparent;
}

.roblox-icon{
    transition: .5s;
}

.roblox a:hover{
    filter: invert(77%) sepia(5%) saturate(156%) hue-rotate(83deg) brightness(86%) contrast(85%);
}


/* Game */

.game-title {
    position: relative;
    margin-bottom: -90px;
    padding-left: 40px;
    top: -50px;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
}

.game{
    position: relative;
    height: 300px;
    width: 250px;
    overflow: hidden;
    margin: 50px;
    border-radius: 10px;
    transition: .5s;
    text-decoration: none;
    box-shadow: 5px 5px 20px #222;
}

.game:hover{
    transform: scale(1.05);
}

.game img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition:.5s;
}

.game:hover img{
    transform: rotate(-2deg) scale(1.05);
}

.game:hover .game-content {
    bottom: -30px;
    background: rgba( 0, 0, 0, 1);
}

.game-content{
    width: 100%;
    height: 185px;
    position: absolute;
    bottom: -115px;
    background: rgba( 0, 0, 0, 0.5);
    padding: 10px;
    color: white;
    transition: 0.5s;
}

.game-content a{
    color: white;
    text-emphasis: none;
    text-decoration: none;
    transition: .5s;
}

.game-content a:hover{
    color: lightgray;
    text-decoration: underline;}

.game-content h3{
    font-size: 20px;
    margin: 14px;
    font-weight: 800;
}

.game-content p{
    position: relative;
    font-size: 9px;
    margin: 13px;
    bottom: -5px;
}